<div class="border">
  <div class="border-position">
    <div class="arrows">
      <div [ngClass]="borderService.borderTop ? 'select' : 'no-select'"
        class="arrow top" (click)="borderService.toggleBorderTop()">
        <fa-icon class="icon-shadow" [icon]="['fas', 'arrow-up']"></fa-icon>
      </div>
      <div [ngClass]="borderService.borderBottom ? 'select' : 'no-select'"
        class="arrow bottom" (click)="borderService.toggleBorderBottom()">
        <fa-icon class="icon-shadow" [icon]="['fas', 'arrow-up']"></fa-icon>
      </div>
      <div [ngClass]="borderService.borderLeft ? 'select' : 'no-select'"
        class="arrow left" (click)="borderService.toggleBorderLeft()">
        <fa-icon class="icon-shadow" [icon]="['fas', 'arrow-up']"></fa-icon>
      </div>
      <div [ngClass]="borderService.borderRight ? 'select' : 'no-select'"
        class="arrow right" (click)="borderService.toggleBorderRight()">
        <fa-icon class="icon-shadow" [icon]="['fas', 'arrow-up']"></fa-icon>
      </div>
    </div>
  </div>
  <div class="border-radius">
    <div [ngClass]="borderService.borderRadiusPositionAll ? 'down' : 'up'"
      (click)="borderService.borderRadiusPositionAll = !borderService.borderRadiusPositionAll"
      class="border-radius-all">
      <fa-icon class="icon-shadow" [icon]="['fas', 'sliders-h']"></fa-icon>
    </div>

    <div *ngIf="!borderService.borderRadiusPositionAll; else BorderRadiusAll"
      class="div-slider">
      <input type="range" [(ngModel)]="borderService.borderRadiusTop"
        min="0" max="100" class="slider" id="borderRadiusTop"/>

      <input type="range" [(ngModel)]="borderService.borderRadiusBottom"
        min="0" max="100" class="slider" id="borderRadiusBottom"/>

      <input type="range" [(ngModel)]="borderService.borderRadiusLeft"
        min="0" max="100" class="slider" id="borderRadiusLeft"/>

      <input type="range" [(ngModel)]="borderService.borderRadiusRight"
        min="0" max="100" class="slider" id="borderRadiusRight"/>
    </div>

    <ng-template #BorderRadiusAll>
      <div class="div-slider">
        <input type="range" [(ngModel)]="borderService.borderRadiusAll"
          min="0" max="100" class="slider" id="borderRadiusAll"/>
      </div>
    </ng-template>
  </div>
  <div class="border-result">
    <div class="div-result">
      <div id="border-result" class="result"></div>
    </div>
  </div>
  <div class="border-style-code">
    <div class="property-buttons">
      <div [ngClass]="borderService.borderStyle == 'solid' ? 'up' : 'down'"
        class="text-shadow" (click)="borderService.borderStyle = 'solid'">
        solid
      </div>
      <div [ngClass]="borderService.borderStyle == 'dotted' ? 'up' : 'down'"
        class="text-shadow" (click)="borderService.borderStyle = 'dotted'">
        dotted
      </div>
      <div [ngClass]="borderService.borderStyle == 'dashed' ? 'up' : 'down'"
        class="text-shadow" (click)="borderService.borderStyle = 'dashed'">
        dashed
      </div>
      <div [ngClass]="borderService.borderStyle == 'double' ? 'up' : 'down'"
        class="text-shadow" (click)="borderService.borderStyle = 'double'">
        double
      </div>
      <div [ngClass]="borderService.borderStyle == 'groove' ? 'up' : 'down'"
        class="text-shadow" (click)="borderService.borderStyle = 'groove'">
        groove
      </div>
      <div [ngClass]="borderService.borderStyle == 'ridge' ? 'up' : 'down'"
        class="text-shadow" (click)="borderService.borderStyle = 'ridge'">
        ridge
      </div>
      <div [ngClass]="borderService.borderStyle == 'inset' ? 'up' : 'down'"
        class="text-shadow" (click)="borderService.borderStyle = 'inset'">
        inset
      </div>
      <div [ngClass]="borderService.borderStyle == 'outset' ? 'up' : 'down'"
        class="text-shadow" (click)="borderService.borderStyle = 'outset'">
        outset
      </div>
    </div>

    <div class="code">
      <div class="p"><p class="text-shadow" id="border-code"></p></div>

      <button
        class="copy down"
        (click)="
          copyService.copy([this.borderService.codeBorder, this.borderService.codeBorderRadius]);
          copyService.copyAnimation('border-copied')">
        <fa-icon class="icon-shadow" [icon]="['far', 'copy']"></fa-icon>
        <span class="copied up" id="border-copied">
          <fa-icon class="icon-shadow" [icon]="['fas', 'check-circle']"></fa-icon>
        </span>
      </button>
    </div>
  </div>
  <div class="border-color">
    <div class="color text-shadow">
      Cor
      <input class="up" type="color" [(ngModel)]="borderService.borderColor" />
      {{ borderService.setBorder() }}
    </div>
  </div>
  <div class="border-width">
    <div class="div-slider">
      <input type="range" [(ngModel)]="borderService.borderWidth"
        min="0" max="100" class="slider" id="borderWidth"/>
    </div>
  </div>
</div>
