.border {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 0px 25px;
  grid-template-areas:
    "border-radius border-position border-style-code"
    "border-radius border-result border-style-code"
    "border-color border-width border-style-code";
}
.border-radius { grid-area: border-radius; }
.border-color { grid-area: border-color; }
.border-position { grid-area: border-position; }
.border-result { grid-area: border-result; }
.border-width { grid-area: border-width; }
.border-style-code { grid-area: border-style-code; }

.border-color {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow);
  padding: 8px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  width: 100px;
  color: var(--color-gray);
}

.color input {
  border-radius: 100%;
  margin-left: 4px;
  height: 30px;
  width: 30px;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

.border-radius-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 12px;
  color: var(--color-gray);
}

.border-radius {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.border-radius-all {
  margin-bottom: 15px;
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
}

.border-radius .div-slider {
  transform: rotate(90deg);
}

.div-slider {
  width: 90%;
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow);
  padding: 20px;
  border-radius: 20px;
}

.border-result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.border-result .div-result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--color-bg);
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow);
}

.result {
  width: 75%;
  height: 75%;
  background: var(--color-secondary);
}

.border-width {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-position .arrows {
  width: 90%;
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow);
  padding: 8px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-position .arrows .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.2rem;
}

.left .ng-fa-icon { transform: rotate(-90deg); }
.right .ng-fa-icon { transform: rotate(90deg); }
.bottom .ng-fa-icon { transform: rotate(180deg); }

.border-style-code {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.style {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 8px 8px;
  grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". .";
}

.style div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 7px 3px 7px 3px;
  font-weight: 500;
  cursor: pointer;
}

.code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow);
  width: 100%;
  padding: 15px;
  border-radius: 20px;
}

.code .p {
  width: 95%;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  color: var(--color-text);
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow),
    inset -3px -3px 7px var(--color-white), inset 3px 3px 5px var(--color-shadow);
}

.code .copy {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  margin-top: 14px;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  font-size: 1.5rem;
  background-color: transparent;
}

@media screen and (max-width: 1100px) {
  .border {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.5fr 0.5fr 0.3fr 0.8fr 1.5fr;
    grid-template-areas:
      "border-color"
      "border-position"
      "border-result"
      "border-result"
      "border-width"
      "border-radius"
      "border-style-code";
    gap: 25px 25px;
  }

  .border-position .arrows {
    width: 60%;
  }

  .border-radius{
    justify-content: center;
  }

  .border-radius .div-slider {
    transform: rotate(0deg);
  }

  .border-result .div-result {
    width: 60%;
    height: 90%;
  }

  .border-width .div-slider {
    width: 60%;
  }

  .border-radius {
    justify-content: center;
  }

  .border-radius .div-slider {
    width: 60%;
  }

  .style {
    width: 60%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      ". . . ."
      ". . . .";
  }

  .code {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .border {
    margin-top: 38px;
    grid-template-rows: 0.3fr 0.3fr 1fr 0.5fr 0.3fr 0.8fr 1.5fr;
  }
  .border-position .arrows {
    width: 80%;
  }

  .border-result .div-result {
    width: 80%;
    height: 90%;
  }

  .border-width .div-slider {
    width: 80%;
  }

  .border-radius .div-slider {
    width: 80%;
  }

  .style {
    width: 80%;
  }

  .code {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  .border {
    grid-template-rows: 0.3fr 0.3fr 1fr 0.5fr 0.3fr 0.8fr 2fr;
  }
}

@media screen and (max-width: 450px) {
  .border {
    margin-top: 30px;
    grid-template-rows: 0.3fr 0.3fr 0.5fr 0.5fr 0.3fr 0.8fr 2fr;
  }
  .border-position .arrows {
    width: 90%;
  }

  .border-result .div-result {
    width: 90%;
    height: 90%;
  }

  .border-width .div-slider {
    width: 90%;
  }

  .border-radius .div-slider {
    width: 90%;
  }

  .style {
    width: 90%;
  }

  .code {
    width: 90%;
  }
}

@media screen and (max-width: 380px) {
  .border {
    grid-template-rows: 0.3fr 0.3fr 0.5fr 0.5fr 0.3fr 0.8fr 2.3fr;
  }

  .style {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
  }
}
