.border-image {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 0px 25px;
  grid-template-areas:
    "gradient-color border-image-url border-image-code"
    "gradient-color border-image-result border-image-code"
    "gradient-color border-image-slider border-image-code";
}
.gradient-color {
  grid-area: gradient-color;
}
.border-image-result {
  grid-area: border-image-result;
}
.border-image-url {
  grid-area: border-image-url;
}
.border-image-slider {
  grid-area: border-image-slider;
}
.border-image-code {
  grid-area: border-image-code;
}

.gradient-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow);
  padding: 35px;
  border-radius: 20px;
}

.color div {
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow);
  padding: 8px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  width: 100px;
  color: var(--color-text);
}

.color div input {
  border-radius: 100%;
  margin-left: 4px;
  height: 30px;
  width: 30px;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

.color-add {
  margin-top: 30px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.4rem;
}

.border-image-url {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-input-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow);
  padding: 20px;
  border-radius: 20px;
}

.div-input-text .btn-url {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow);
}

.div-input-text .btn-url .ng-fa-icon {
  color: var(--color-secondary);
  cursor: pointer;
}

.div-input-text .btn-url .ng-fa-icon:hover {
  color: var(--color-gray);
}

.div-input-text input {
  width: 75%;
  border: none;
  border-radius: 15px;
  padding: 10px;
  outline: none;
  background-color: var(--color-bg);
  color: var(--color-text);
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow),
    inset -3px -3px 7px var(--color-white),
    inset 3px 3px 5px var(--color-shadow);
}

.div-input-text input::placeholder {
  text-align: center;
}

.border-image-result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.border-image-result .div-result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--color-bg);
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow);
}

.result {
  width: 75%;
  height: 75%;
  border: 25px solid;
  background: var(--color-bg);
}

.border-image-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-slider {
  width: 90%;
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow);
  padding: 20px;
  border-radius: 20px;
}

.repeat {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 8px 8px;
  grid-template-areas:
    ". ."
    ". ."
    ". .";
}

.repeat div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 7px 3px 7px 3px;
  font-weight: 500;
  cursor: pointer;
}

.border-image-code {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow);
  width: 100%;
  padding: 15px;
  border-radius: 20px;
}

.code .p {
  width: 95%;
  max-width: 250px;
  max-height: 200px;
  overflow: hidden;
  word-wrap: break-word;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  color: var(--color-text);
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow),
    inset -3px -3px 7px var(--color-white),
    inset 3px 3px 5px var(--color-shadow);
}

.code .copy {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  margin-top: 14px;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  font-size: 1.5rem;
  background-color: transparent;
}

@media screen and (max-width: 1100px) {
  .border-image {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 0.8fr 0.6fr 2.6fr;
    grid-template-areas:
      "gradient-color"
      "border-image-result"
      "border-image-slider"
      "border-image-url"
      "border-image-code";
    gap: 25px 25px;
  }

  .color {
    flex-direction: row;
    padding: 20px;
    margin-top: 60px;
  }

  .color div {
    margin-top: 0;
    margin-left: 8px;
    margin-right: 8px;
  }

  .border-image-result .div-result {
    width: 60%;
    height: 90%;
  }

  .repeat,
  .code,
  .border-image-url .div-input-text,
  .border-image-slider .div-slider {
    width: 60%;
  }

  .code {
    margin-top: 30px;
  }

  .code .p {
    width: 95%;
    max-width: 360px;
  }
}

@media screen and (max-width: 800px) {
  .border-image {
    grid-template-rows: 1fr 1.5fr 0.6fr 0.5fr 1.6fr;
  }

  .color {
    margin-top: 70px;
  }

  .repeat,
  .code,
  .border-image-url .div-input-text,
  .border-image-slider .div-slider,
  .border-image-result .div-result {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .border-image {
    grid-template-rows: 0.8fr 1fr 0.5fr 0.4fr 1.6fr;
  }

  .repeat,
  .code,
  .border-image-url .div-input-text,
  .border-image-slider .div-slider,
  .border-image-result .div-result {
    width: 90%;
  }

  .code .p {
    max-width: 260px;
    font-size: 0.9rem;
  }

  .div-input-text {
    flex-direction: column;
    justify-content: center;
  }

  .div-input-text .btn-url {
    margin-top: 15px;
    width: 40%;
    padding: 12px;
  }

  .div-input-text input {
    width: 95%;
  }
}

@media screen and (max-width: 380px) {
  .code .p {
    max-width: 170px;
  }

  .color {
    padding: 0;
    border-radius: 0px;
    box-shadow: none;
  }

  .color div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px 0px 12px 0px;
    width: 80px;
  }

  .color-add {
    margin-top: 25px;
  }
}
