@import "../../../shared/styles/code.css";
@import "../../../shared/styles/color.css";
@import "../../../shared/styles/slider.css";
@import "../../../shared/styles/property-buttons.css";

.border-image {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 0px 25px;
  grid-template-areas:
    "border-image-color-slider border-image-url border-image-code"
    "border-image-color-slider border-image-result border-image-code"
    "border-image-color-slider border-image-repeating border-image-code";
}
.border-image-color-slider {
  grid-area: border-image-color-slider;
}

.border-image-result {
  grid-area: border-image-result;
}

.border-image-url {
  grid-area: border-image-url;
}

.border-image-code {
  grid-area: border-image-code;
}

.border-image-repeating {
  grid-area: border-image-repeating;
}

.border-image-color-slider {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.gradient-color {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.border-image-url {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-input-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow);
  padding: 20px;
  border-radius: 20px;
}

.div-input-text .btn-url {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow);
}

.div-input-text .btn-url .ng-fa-icon {
  color: var(--color-secondary);
  cursor: pointer;
}

.div-input-text .btn-url .ng-fa-icon:hover {
  color: var(--color-gray);
}

.div-input-text input {
  width: 75%;
  border: none;
  border-radius: 15px;
  padding: 10px;
  outline: none;
  background-color: var(--color-bg);
  color: var(--color-text);
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow),
    inset -3px -3px 7px var(--color-white),
    inset 3px 3px 5px var(--color-shadow);
}

.div-input-text input::placeholder {
  text-align: center;
}

.border-image-result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.border-image-result .div-result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--color-bg);
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow);
}

.result {
  width: 75%;
  height: 75%;
  border: 25px solid;
  background: var(--color-bg);
}

.border-image-slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-slider {
  width: 90%;
}

.border-image-repeating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-buttons {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    ". ."
    ". ."
    ". .";
}

.border-image-code {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow);
  width: 100%;
  padding: 15px;
  border-radius: 20px;
}

.code .p {
  max-width: 250px;
  max-height: 200px;
  overflow: hidden;
}

@media screen and (max-height: 780px) {
  .color {
    padding: 20px;
  }
}

@media screen and (max-height: 660px) {
  .color {
    padding: 0;
    border-radius: 0px;
    box-shadow: none;
  }
}

@media screen and (max-width: 1100px) {
  .border-image {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1.2fr 1.2fr 0.3fr 0.3fr 1.2fr;
    grid-template-areas:
      "border-image-color-slider"
      "border-image-result"
      "border-image-repeating"
      "border-image-url"
      "border-image-code";
    gap: 25px 25px;
  }

  .border-image-slider {
    margin-top: 30px;
  }

  .border-image-result .div-result {
    width: 60%;
    height: 90%;
  }

  .property-buttons,
  .code,
  .border-image-url .div-input-text,
  .div-slider {
    width: 60%;
  }

  .code {
    margin-top: 30px;
  }

  .code .p {
    width: 95%;
    max-width: 360px;
  }
}

@media screen and (max-width: 800px) {
  .border-image {
    grid-template-rows: 1.2fr 1.2fr 0.3fr 0.3fr 1.2fr;
  }

  .property-buttons,
  .code,
  .border-image-url .div-input-text,
  .div-slider,
  .border-image-result .div-result {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .border-image {
    grid-template-rows: 1.2fr 1.2fr 0.3fr 0.3fr 1.2fr;
  }

  .property-buttons,
  .code,
  .border-image-url .div-input-text,
  .div-slider,
  .border-image-result .div-result {
    width: 90%;
  }

  .code .p {
    max-width: 260px;
    font-size: 0.9rem;
  }

  .div-input-text {
    flex-direction: column;
    justify-content: center;
  }

  .div-input-text .btn-url {
    margin-top: 15px;
    width: 40%;
    padding: 12px;
  }

  .div-input-text input {
    width: 95%;
  }
}

@media screen and (max-width: 380px) {
  .border-image {
    grid-template-rows: 1.2fr 1fr 0.3fr 0.3fr 1.2fr;
  }

  .code .p {
    max-width: 170px;
  }
}

@media screen and (max-width: 320px) {
  .border-image {
    grid-template-rows: 1.2fr 0.9fr 0.3fr 0.3fr 1.2fr;
  }
}
