<input type="checkbox" checked id="check">
<label class="button bars" for="check"><i class="fas fa-bars"></i></label>

<div class="sidebar">
  <div class="title">
    <label class="button cancel" for="check"><i class="fas fa-times"></i></label>
  </div>

  <ul>
    <li><a href="#"><i class="fas fa-qrcode"></i></a></li>
    <li><a href="#"><i class="fas fa-link"></i></a></li>
    <li><a href="#"><i class="fas fa-stream"></i></a></li>
    <li><a href="#"><i class="fas fa-calendar-week"></i></a></li>
    <li><a href="#"><i class="fas fa-question-circle"></i></a></li>
  </ul>
</div>
