<div class="sidebar">
  <div class="title">
  </div>
  <ul>
    <li>
      <a [routerLink]="['/gradient']" routerLinkActive="active-link">
        <fa-icon class="icon-shadow" [icon]="['fas', 'palette']"></fa-icon>
      </a>
    </li>
    <li>
      <a [routerLink]="['/border']" routerLinkActive="active-link">
        <fa-icon class="icon-shadow" [icon]="['fas', 'border-all']"></fa-icon>
      </a>
    </li>
    <li>
      <a [routerLink]="['/border-image']" routerLinkActive="active-link">
        <fa-icon class="icon-shadow" [icon]="['fas', 'border-style']"></fa-icon>
      </a>
    </li>
    <li>
      <a href="https://github.com/pedrorivald" target="_blank">
        <fa-icon class="icon-shadow" [icon]="['fab', 'github']"></fa-icon>
      </a>
    </li>
  </ul>
</div>
