<div class="gradient">
  <div class="gradient-color">
    <div class="color">
      <div *ngFor="let ctrl of ctrlColors; let i = index">
        Cor {{ i + 1 }}
        <input class="up" type="color" [(ngModel)]="ctrl.color" name="color_{{ i }}" />
        {{ setColors() }} {{ setCode() }}
      </div>
    </div>
    <div class="color-add down"><i class="fas fa-plus"></i></div>
  </div>
  <div class="gradient-result">
    <div class="result" id="result"></div>

    <div class="div-slider">
      <input type="range" min="0" max="100" class="slider" id="" value="0" />
      <input type="range" min="0" max="100" class="slider" id="" value="100" />
    </div>
  </div>
  <div class="gradient-orientation">
    <div class="arrows">
      <div class="arrow top-left down"><i class="fas fa-arrow-up"></i></div>
      <div class="arrow top down"><i class="fas fa-arrow-up"></i></div>
      <div class="arrow top-right down"><i class="fas fa-arrow-up"></i></div>
      <div class="arrow left down"><i class="fas fa-arrow-up"></i></div>
      <div class="arrow center down"><i class="fas fa-arrow-up"></i></div>
      <div class="arrow right down"><i class="fas fa-arrow-up"></i></div>
      <div class="arrow bottom-left down"><i class="fas fa-arrow-up"></i></div>
      <div class="arrow bottom down"><i class="fas fa-arrow-up"></i></div>
      <div class="arrow bottom-right down"><i class="fas fa-arrow-up"></i></div>
    </div>

    <div class="code">
      <p id="code"></p>

      <button class="copy down" (click)="copy(code)">
        <i class="far fa-copy"></i>
      </button>
    </div>
  </div>
</div>
