@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --color-bg: #ecf0f3;
  --color-secondary: #b260c7;
  --color-white: #ffffff;
  --color-text: #31344b;
  --color-shadow: #BABECC;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body {
  overflow-x: hidden;
  background: var(--color-bg);
}

.code-property {
  font-weight: 500;
  color: var(--color-secondary);
}

.code-weight {
  font-weight: 500;
}

.up {
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow),
    inset -3px -3px 7px var(--color-white), inset 3px 3px 5px var(--color-shadow);
  color: var(--color-shadow);
  cursor: pointer;
}

.up:hover {
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow);
  color: var(--color-secondary);
}

.down {
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow);
  color: var(--color-secondary);
  cursor: pointer;
}

.down:hover {
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow),
    inset -3px -3px 7px var(--color-white), inset 3px 3px 5px var(--color-shadow);
  color: var(--color-shadow);
}
