@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow),
    inset -3px -3px 7px var(--color-white), inset 3px 3px 5px var(--color-shadow); */
/* box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow); */
:root {
  --color-bg: #ecf0f3;
  --color-secondary: #b260c7;
  --color-lightSecondary: #d493e4;
  --color-lightScrollbar: #d493e4;
  --color-white: #ffffff;
  --color-text: #31344b;
  --color-shadow: #BABECC;
  --color-gray: #BABECC;
  --color-slider: #dfdfdf;
}

html {
  scrollbar-color: var(--color-secondary) var(--color-shadow);
}

::-webkit-scrollbar {
  background-color: var(--color-shadow);
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-secondary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-lightScrollbar);
}

.darkmode {
  --color-bg: #131419;
  --color-secondary: #03a9f4;
  --color-lightSecondary: transparent;
  --color-lightScrollbar: #75c8ee;
  --color-white: rgba(0, 0, 0, 0.5);
  --color-text: #666;
  --color-shadow: rgba(255, 255, 255, 0.05);
  --color-gray: #999;
  --color-slider: #131419;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body {
  overflow-x: hidden;
  background: var(--color-bg);
}

.ng-fa-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
  -webkit-user-select: none;    /* Chrome, Safari 3 */
  -khtml-user-select: none;     /* Safari 2 */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* IE10+ */
  user-select: none;
}

.text-shadow {
  text-shadow: 1px 1px 1px var(--color-white);
}

.icon-shadow {
  filter: drop-shadow(1px 1px 1px var(--color-white));
}

.code-property {
  font-weight: 500;
  color: var(--color-secondary);
}

.code-weight {
  font-weight: 500;
}

.up {
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow),
    inset -3px -3px 7px var(--color-white), inset 3px 3px 5px var(--color-shadow);
  color: var(--color-gray);
  cursor: pointer;
}

.up:hover {
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow);
  color: var(--color-secondary);
}

.down {
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow);
  color: var(--color-secondary);
  cursor: pointer;
}

.down:hover {
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow),
    inset -3px -3px 7px var(--color-white), inset 3px 3px 5px var(--color-shadow);
  color: var(--color-gray);
}

.select {
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow),
    inset -3px -3px 7px var(--color-white), inset 3px 3px 5px var(--color-shadow);
  color: var(--color-gray);
  cursor: pointer;
}

.no-select {
  box-shadow: -3px -3px 7px var(--color-white), 3px 3px 5px var(--color-shadow);
  color: var(--color-secondary);
  cursor: pointer;
}
