@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --color-bg: #ecf0f3;
  --color-secondary: #b260c7;
  --color-white: #ffffff;
  --color-text: #31344b;
  --color-shadow: #ceced1;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body {
  overflow-x: hidden;
  background: var(--color-bg);
}
